.menu-header {
  background-image: url(../assets/coffee-circle.jpg);
  min-width: 100%;
  max-width: 100%;
  min-height: 36rem;
  max-height: 37.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.menu-header__title {
  font-size: 3.75rem;
  font-weight: 300;
  color: white;
  background-color: #393939;
  min-width: 17.5rem;
  max-width: 18.75rem;
  min-height: 11.25rem;
  max-height: 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-nav {
  min-width: 100%;
  max-width: 100%;
  min-height: 3.75rem;
  max-height: 5rem;
  padding-top: 1.2rem;
  background-color: #393939;
  text-align: center;
}

.menu-nav__list {
  list-style: none;
  display: inline-block;
  margin-left: 1.25rem;
  padding-left: 1.25rem;
  border-left: 4px solid #5BACC3;
}

.menu-nav__link {
  text-decoration: none;
  color: white;
}

.menu-section {
  background-color: #FFF0ED;
  text-align: center;
  padding-top: 1.5rem;
}

.menu-section:nth-child(even) {
  background-color: #f7f7f7;
}

.menu-section__title {
  font-size: 3.75rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.menu-section__item-container {
  padding-bottom: 2rem;
}

.menu-section__item-name {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.menu-section__item-description {
  font-style: italic;
  text-align: center;
  width: 40%;
  margin: auto;
}

.menu-section__price {
  color: #5BACC3;
}